<IfModule mod_rewrite.c>
  RewriteEngine On
  # Redirect everything to index.html unless it's a real file or directory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>
